<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<% if session[:user_id] %>
<%= form_for @post, url: '/posts/create' do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    
    <%= f.submit %>
<% end %>
<p>you are login</p>
<% if @posts.count > 0 %>
  <% @posts.each do |post| %>
  <p>
   
         <%= link_to post.title,"posts/show" %>likes:<%= post.likes.count %>
        
        <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
           <%= link_to "unlike","/likes/#{@post.id}/destroy" %>
        <% else %>
            <%= link_to "like","/likes/#{@post.id}/create" %>
        <% end %>
     </p>
  <% end %>
   <% else %>
    <p>No posts yet</p>
  <% end %>
<% else %>
<p>you need to <%= link_to 'signup','signup'%>to create an account.</p>

<% end %>